In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("pipeline.db")

In [5]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("pipeline.db")

df_trigly = pd.read_sql("SELECT * FROM TRIGLY_L", conn)
print(df_trigly.columns)

conn.close()

Index(['SEQN', 'WTSAF2YR', 'LBXTLG', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI',
       'LBDLDLM', 'LBDLDMSI', 'LBDLDLN', 'LBDLDNSI'],
      dtype='object')

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("pipeline.db")
cols = pd.read_sql("PRAGMA table_info(HSCRP_L_LIMPIO);", conn)
print(cols[['name']])
conn.close()

              name
0             SEQN
1          WTPH2YR
2         LBXHSCRP
3         LBDHRPLC
4      SEQN_LIMPIO
5   WTPH2YR_LIMPIO
6  LBXHSCRP_LIMPIO
7  LBDHRPLC_LIMPIO

In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("pipeline.db")

# Listar todas las tablas en la base
tablas = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tablas disponibles en pipeline.db:")
print(tablas)

conn.close()

Tablas disponibles en pipeline.db:
                        name
0              OpenFoodFacts
1              ODEPA_Precios
2             HDL_L_L_LIMPIO
3          TRIGLY_L_L_LIMPIO
4           TCHOL_L_L_LIMPIO
..                       ...
132  FDC_FOOD_NUTRIENT_CLEAN
133  FDC_FOOD_CATEGORY_CLEAN
134   FDC_FOOD_PORTION_CLEAN
135      ODEPA_PRECIOS_CLEAN
136         NHANES_INTEGRADO

[137 rows x 1 columns]